@import "../styles/reset.css";
@import "../styles/elements.css";

body {
  display: grid;
  justify-content: start;
  gap: 16px;
  margin-inline: 16px;
  max-width: 40rem;
}

menu {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

h1 {
  margin-block: 8px;
}

table {
  border: 1px solid ButtonBorder;
  padding: 0 0px;
  border-collapse: collapse;
}

tr :first-child {
  width: 200px;
}

th,
td {
  padding: 4px 16px;
  text-align: left;
}

td[data-not-set="true"] {
  opacity: 0.625;
}

th {
  border-bottom: 1px solid ButtonBorder;
}

:where(thead, tbody) tr:first-child :where(th, td) {
  padding-top: 8px;
}
:where(thead, tbody) tr:last-child :where(th, td) {
  padding-bottom: 8px;
}
